.logo {
    height: 30px;
}

.header-title-div {
    display: flex;
    align-items: start;
}

.header-title-text {
    margin: auto;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    font-family: Segoe UI;
}

.nav-bottom {
    width: 100%;
    height: 1.75px;
    background: #FBBA18;
}