.text-small {
    font-size: 11.5px;
    color: #A9A9A9;
}

.text-medium {
    font-size: 12.5px;
    color: #A9A9A9;
}

.remove-seg-link {
    background: none;
    border: none;
    padding: 0;
    font-size: 11.5px;
    color: #ad2e24;
    cursor: pointer;
}

.add-seg-link {
    background: none;
    border: none;
    padding: 0;
    font-size: 11.5px;
    color: #9ec1a3;
    cursor: pointer;
}

.autofit-settings-text {
    font-size: 11.5px;
    color: #A9A9A9;
    text-decoration: none;
}
    a:hover {
        color: grey;
        text-decoration: none;
};

    a:active {
        color: grey;
        text-decoration: none;
    };