@media only screen and (min-width: 768px) {

    .card-body-left {
        flex: 1;
        padding: 0px 25px 0px 5px;
        padding: 5px;
    }


    .card-body-right {
        flex: 2;
        padding: 0px 5px 0px 25px;
        padding: 5px;
        border-left: 1.5px solid #F0F0F0;
    }
}


#fieldtable {
    width: 100%;
}


#fieldtable {
    width: 100%;
}

.table {
    border-spacing: 0;
    font-style: sans-serif;
    line-height: 8px;
}

tr:nth-child(even) {
    background-color: #F8F8F8;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-header {
    text-align: left;
    font-size: 11.5px;
    position: sticky;
    top: 0;
    background-color: #F8F8F8;
    font-size: 11.5px;
    position: sticky;
    top: 0;
}

.table-cell {
    padding: 0px;
    font-size: 10.5px;
}

.table-cell-large {
    padding: 0px;
    font-size: 11.5px;
    font-weight: bold;
}

.error-text {
    color: #8b0000;
}

.import-button-container {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.custom-button:hover {
    color: #ededed !important;
}

.card-body-left .form-control {
    font-size: 11.5px !important;
    height: 32px !important;
}