{% load static %}
{% load custom_tags %}

<div class="card-body">
        <div class="table-container">
        <table class="table" id="rating-table">
            <tr class="table-header">
                <th class="table-cell">segment</th>
                <th class="table-cell">coefficient</th>
                <th class="table-cell">exponent</th>
                <th class="table-cell">offset</th>
                <th class="table-cell">start point</th>
                <th class="table-cell">end point</th>
                <th class="table-cell">RMSE</th>
                <th class="table-cell"><p id="comparison-header", style="color:#9ec1a3">compare</p></th>
            </tr>
            {% if rc.parameters %}
                <tr class="table-row">
                    <td class="table-cell"><p id="table1-segment1-label">{{ rc.parameters.0.label }}</p></td>
                    <td class="table-cell"><p id="table1-segment1-const">{{ rc.parameters.0.const|floatformat:2 }}</p></td>
                    <td class="table-cell"><p id="table1-segment1-exp">{{ rc.parameters.0.exp|floatformat:2 }}</p></td>
                    <td class="table-cell"><p id="table1-segment1-offset">{{ rc.parameters.0.offset }}</p></td>
                    <td class="table-cell"><p id="table1-endpoint-Seg1H0">{{ rc.parameters.0.seg_bounds.0.0|floatformat:3 }}</p></td>
                    <td class="table-cell"><p id="table1-endpoint-Seg1H1">{{ rc.parameters.0.seg_bounds.1.0|floatformat:3 }}</p></td>
                    <td class="table-cell"><p id="table1-segment1-rmse">{{ rc.parameters.0.rmse|floatformat:2 }}</p></td>
                    <td class="table-cell"><p></p></td>
                </tr>
            {% endif %}
            {% if rc.parameters.1 %}
                <tr class="table-row">
                    <td class="table-cell"><p id="table1-segment2-label">{{ rc.parameters.1.label }}</p></td>
                    <td class="table-cell"><p id="table1-segment2-const">{{ rc.parameters.1.const|floatformat:2 }}</p></td>
                    <td class="table-cell"><p id="table1-segment2-exp">{{ rc.parameters.1.exp|floatformat:2 }}</p></td>
                    <td class="table-cell"><p id="table1-segment2-offset"> {{ rc.parameters.1.offset }}</p></td>
                    <td class="table-cell"><p id="table1-endpoint-Seg2H0">{{ rc.parameters.1.seg_bounds.0.0|floatformat:3 }}</p></td>
                    <td class="table-cell"><p id="table1-endpoint-Seg2H1">{{ rc.parameters.1.seg_bounds.1.0|floatformat:3 }}</p></td>
                    <td class="table-cell"><p id="table1-segment2-rmse">{{ rc.parameters.1.rmse|floatformat:2 }}</p></td>
                    <td class="table-cell"><p></p></td>
                </tr>
            {% endif %}
            <tr class="table-row" id="add-compare">
                <td class="table-cell">
                    <input type="text" class="form-control form-control-sm" name="compareLabel" id="compareLabel" style="font-size: 12px; min-width: 40px" placeholder="" onchange="" onkeydown="return event.key != 'Enter';">
                </td>
                <td class="table-cell">
                    <input type="number" step="0.01" class="form-control form-control-sm" name="compareConst" id="compareConst" style="font-size: 12px; width: 40px" placeholder="" onchange="" onkeydown="return event.key != 'Enter';">
                </td>
                <td class="table-cell">
                    <input type="number" step="0.01" class="form-control form-control-sm" name="compareExp" id="compareExp" style="font-size: 12px; width: 40px" placeholder="" onchange="" onkeydown="return event.key != 'Enter';">
                </td>
                <td class="table-cell">
                    <input type="number" step="0.01" class="form-control form-control-sm" name="compareOffset" id="compareOffset" style="font-size: 12px; width: 40px" placeholder="" onchange="" onkeydown="return event.key != 'Enter';">
                </td>
                <td class="table-cell">
                    <input type="number" step="0.01" class="form-control form-control-sm" name="compareStartBounds" id="compareStartBounds" style="font-size: 12px; width: 40px" placeholder="" onchange="" onkeydown="return event.key != 'Enter';">
                </td>
                <td class="table-cell">
                    <input type="number" step="0.01" class="form-control form-control-sm" name="compareEndBounds" id="compareEndBounds" style="font-size: 12px; width: 40px" placeholder="" onchange="" onkeydown="return event.key != 'Enter';">
                </td>
                <td class="table-cell">
                    <p id="compare-curve-rmse" style="width: 40px;"></p>
                </td>
                <td class="table-cell" style="display:block">
                    <div id="add-curve">
                        <button class="btn btn-success btn-sm" type="submit" href="#" onclick="addCompareCurve()" style="background-color: #9ec1a3 !important; border-color: #FFFFFF; width: 40px;" onkeydown="return event.key != 'Enter';"> + </button>
                    </div>
                    <div id="remove-curve" style="display:none">
                        <button class="btn btn-success btn-sm" type="submit" href="#" onclick="removeCompareCurve()" style="background-color: #CC6677 !important; border-color: #FFFFFF; width: 40px;" onkeydown="return event.key != 'Enter';"> - </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>