{% extends 'rctool/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mt-2">
    <div class="tab-bar-container">
        <ul class="tab-bar-list">
            <li class="tab-bar-item-current"><a href="{% url 'rctool_import' 0 %}">import</a></li>
            <li class="tab-bar-item" style="pointer-events: none;"><a href="#">develop</a></li>
            <li class="tab-bar-item" style="pointer-events: none;"><a href="#">export</a></li>
        </ul>
    </div>

    <div style="background-color: #FFFFFF; padding-left:10px; padding-right:10px;">
        <div class="row justify-content-md-center" style="padding: 20px;">
            <div class="card col-lg-8 col-md-12 px-0">
                <h6 class="card-header text-center" style="background-color: #758fa8; color: #FFFFFF; height:30px; font-size:12.5px; padding-top:7px; ">Import Data</h6>
                <div class="card-body pt-3" style="display: flex;">
                    <div class="row">
                        <div class="card-body-left" style="font-size:11.5px">
                            <form action="{% url 'rctool_develop_initialize' %}" method="post">
                                <div class="form-group" style="margin-bottom:25px;">
                                    {% csrf_token %}

                                    <div style="min-width:250px;" id="input-session-type">
                                        <label class="form-label">session type</label><br>
                                        {{form.input_session_type}}
                                    </div>
                                    
                                    <div style="margin-top:15px;" id="headerrow_div">
                                        <label class="form-label">header row number</label>
                                        {{form.header_row}}
                                    </div>
                                    
                                    <div style="margin-top:15px;" id="csv_separator_div">
                                        <label class="form-label">csv separator</label>
                                        {{form.csv_separator}}
                                    </div>

                                    <div style="margin-top:15px;" id="csv_load_div">
                                        <input type="file" id="csvFile" accept=".csv"/>
                                        <br/>
                                        <small class="text-small">
                                            *csv format only, download sample file here: <a href="{% static 'sample_data/sample_data.csv' %}" download>sample_data.csv</a>. Separator: comma, Header row: 1
                                        </small>
                                    </div>

                                    <div style="margin-top:15px;display: none;"  id="session_load_div">
                                        <input type="file" id="sessionFile" accept=".dat"/>
                                    </div>


                                    <input type="hidden" id="csv_content" name="csv_content" value="">
                                    <input type="hidden" id="session_content" name="session_content" value="">
                                </div>
                                
                                <button class="btn btn-primary btn-block" style="background-color: #6c747e !important; border-color: #FFFFFF;" type="submit" id="enter-data-button" disabled><small>submit</small></button>
                            </form>
                        </div>

                        <div class="card-body-right" style="font-size:11.5px;">
                            <div class="card" id="input-instructions" style="border: 0px; padding: 2px;">
                                Please upload in csv format with the specific column names and format specified below.
                            </div>
                            
                            <div id="csv-data-table" style="display: flex; margin-top:15px;">
                                <table class="table">
                                    <tr class="table-header">
                                        <th class="table-cell">datetime</th>
                                        <th class="table-cell">discharge</th>
                                        <th class="table-cell">stage</th>
                                        <th class="table-cell">uncertainty</th>
                                        <th class="table-cell">comments</th>
                                    </tr>
                                    <tr class="table-row">
                                        <td class="table-cell">YYYY-MM-DD HH:MM</td>
                                        <td class="table-cell">number</td>
                                        <td class="table-cell">number</td>
                                        <td class="table-cell">decimal fraction (optional)</td>
                                        <td class="table-cell">text (optional)</td>
                                    </tr>
                                </table>
                            </div>
                            <div id="csv-data-table-footer">
                                <small class="text-small">
                                    If no uncertainty data is provided, missing values will be filled in as 0.1 (10%).
                                 </small>
                            </div>
                            <div id="error-messages">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div>
                                            <strong class="error-text">{{message|safe}}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>

// IMPORT FUNCTIONS
function toggleInputForm() {
    var toggleDiv = document.getElementById("id_input_session_type");
    
    if (toggleDiv.options[toggleDiv.selectedIndex].value === "new") {
        // show csv input
        document.getElementById("headerrow_div").style.display = "block";
        document.getElementById("csv_separator_div").style.display = "block";
        document.getElementById("csv_load_div").style.display = "block";
        document.getElementById('csv-data-table').style.display = "block";
        document.getElementById('csv-data-table-footer').style.display = "block";

        // hide session input
        document.getElementById("session_load_div").style.display = "none";

        // adjust text
        document.getElementById("input-instructions").innerHTML = "Please upload in csv format with column names; 'datetime', 'discharge', 'stage', 'uncertainty', and 'comments'"

        // call refreshTable to update the table
        refreshTable();
    } else {
        // hide csv input
        document.getElementById("headerrow_div").style.display = "none";
        document.getElementById("csv_separator_div").style.display = "none";
        document.getElementById("csv_load_div").style.display = "none";
        document.getElementById('csv-data-table').style.display = "none";
        document.getElementById('csv-data-table-footer').style.display = "none";

        // show session input
        document.getElementById("session_load_div").style.display = "block";

        // adjust text
        document.getElementById("input-instructions").innerHTML = "Please upload .dat file from previous session."

        // call refreshSession to update the inputs
        refreshSession();

    };


};

// INITIALIZATION MESSAGE
// Initialize display message recommending to set offset before autofitting upon initialization of develop page
if (sessionStorage.getItem("developStartupMessage") == null) {
        sessionStorage.setItem("developStartupMessage", true);
};


// APP WALKTHROUGH
// Check if tour status has been previously set
if (sessionStorage.getItem("tourStatus") == null) {
    // Check if user selected tour
    var tourStatusID = {{ tour_request_status_id|safe }};
    if (tourStatusID == 1) {
        sessionStorage.setItem("tourStatus", true);
    } else {
            sessionStorage.setItem("tourStatus", false);
            }
    };
        
// configure tour steps
var importTour = new Tour({
    onEnd: function (tour) {
        sessionStorage.setItem("tourStatus", false);
        },
    steps: [
            {
            element: "#input-session-type",
            title: "Import Walkthrough",
            content: "To begin, a previous session or data for a new session can be uploaded. This step can be skipped for this tour since a sample dataset has already been uploaded."
            },
            {
            element: "#form-header-row",
            title: "Import Walkthrough",
            content: "Field data can be uploaded using a csv file with example column names specified on the right. When importing data, select which row has these column headings by adjusting the header. Choose the correct separator symbol between values in rows. If uncertainty data is uploaded, missing values will be filled in as 0.1 (10%)."
            },
            {
            element: "#enter-data-button",
            title: "Import Walkthrough",
            content: "To continue this tour with the sample data, please download the sample data file, and choose it for upload. Then click 'submit'."
            },
        ]
});
        
if (sessionStorage.getItem("tourStatus") == 'true') {
    importTour.init();
    importTour.start(sessionStorage.getItem("tourStatus"));
    importTour.restart();
};

function parseCSVLine(line, separator = ','){
    const values = [];
    let currentValue = '';
    let insideQuotes = false;

    for (let j = 0; j < line.length; j++) {
        const char = line[j];

        if (char === '"') {
            insideQuotes = !insideQuotes;
        } else if (char === separator && !insideQuotes) {
            values.push(currentValue.trim());
            currentValue = '';
        } else {
            currentValue += char;
        }
    }

    // Add the last value (outside the loop)
    values.push(currentValue.trim());

    return values;
}

function loadCSV() {
    const reader = new FileReader();
    reader.onload = function(e) {
        const csv = e.target.result;
        const lines = csv.split("\n");
        const result = [];
        const headerRow = document.getElementById("form-header-row").value - 1;
        const separator = document.getElementById("id_csv_separator").value;

        const headers = lines[headerRow].replace(/\r/g, "").split(separator);

        for (let i = headerRow + 1; i < lines.length; i++) {
            const obj = {};
            values = parseCSVLine(lines[i].replace(/\r/g, ""), separator)

            for (let col = 0; col < headers.length; col++) {
                if (values[col] === "" || values[col] === undefined) {
                    continue;
                }
                obj[headers[col]] = values[col]
            }

            // skip empty rows
            if (obj["datetime"] === undefined || obj["datetime"] === "") {
                continue;
            }

            // filter out leading and trailing quotes replace internal comma and tab
            for (let key in obj) {
                obj[key] = obj[key].replace(/^"|"$/g, "").replace(/,/g, ";").replace(/\t/g, ";");
            }

            console.log(obj)
            result.push(obj);
        }

        // set the csv content to the hidden form field
        document.getElementById("csv_content").value = JSON.stringify(result);

    };
    reader.readAsText(document.getElementById("csvFile").files[0]);
};


function updateTable() {
    textData = document.getElementById("csv_content").value;

    try {
        result = JSON.parse(textData);
        headers = Object.keys(result[0]);
    } catch (e) {
        console.log(e);
        clearTable();
        return;
    }


    // show the table in csv-data-table
    const table = document.getElementById("csv-data-table").getElementsByTagName("table")[0];
    table.innerHTML = "";
    const headerRow = table.insertRow();
    for (let header of headers) {
        const cell = headerRow.insertCell();
        cell.textContent = header;
        cell.classList.add("table-cell");
    }
    for (let row of result) {
        const tableRow = table.insertRow();
        for (let header of headers) {
            const cell = tableRow.insertCell();
            cell.textContent = row[header];
            cell.classList.add("table-cell");
        }
    }
    // allow form submission
    document.getElementById("enter-data-button").disabled = false;
}


function clearTable(){
    const table = document.getElementById("csv-data-table").getElementsByTagName("table")[0];
    table.innerHTML = `
    <tr class="table-header">
        <th class="table-cell">datetime</th>
        <th class="table-cell">discharge</th>
        <th class="table-cell">stage</th>
        <th class="table-cell">uncertainty</th>
        <th class="table-cell">comments</th>
    </tr>
    <tr class="table-row">
        <td class="table-cell">YYYY-MM-DD HH:MM</td>
        <td class="table-cell">number</td>
        <td class="table-cell">number</td>
        <td class="table-cell">decimal fraction (optional)</td>
        <td class="table-cell">text (optional)</td>
    </tr>
    `;

    // disallow form submission
    document.getElementById("enter-data-button").disabled = true;
}

function refreshTable() {
    clearTable();
    try {
        loadCSV();
        setTimeout(updateTable, 200);
        updateTable();
    } catch (e) {
        console.log(e);
        clearTable();
    }
}

function loadSession() {
    const reader = new FileReader();
    reader.onload = function(e) {
        const session = e.target.result;
        const lines = session.split("\n");
        const result = [];
        const headers = lines[0].split(",");
        
        for (let i = 1; i < lines.length; i++) {
            const currentLine = lines[i].split(",");
            const obj = {};
            values = parseCSVLine(lines[i].replace(/\r/g, ""), ',')
            
            for (let j = 0; j < headers.length; j++) {
                obj[headers[j]] = values[j];
            }

            // skip empty rows
            if (obj["data"] === undefined || obj["data"] === "") {
                continue;
            }
        
            result.push(obj);
        }

        // set the session content to the hidden form field
        document.getElementById("session_content").value = JSON.stringify(result);
    };

    reader.readAsText(document.getElementById("sessionFile").files[0]);
}

function refreshSession() {
    document.getElementById("enter-data-button").disabled = false;
    loadSession();

}

// on input field change, update things
document.getElementById("id_input_session_type").addEventListener("change", function() {
    toggleInputForm();
    refreshTable();
});

// new csv file uploaded
document.getElementById("csvFile").addEventListener("change", refreshTable);
document.getElementById("id_csv_separator").addEventListener("change", refreshTable);
document.getElementById("form-header-row").addEventListener("change", refreshTable);

// session file loaded
document.getElementById("sessionFile").addEventListener("change", refreshSession);

// on first load, update things
refreshTable()
refreshSession()
document.getElementById("enter-data-button").disabled = true;

</script>
{% endblock %}