{% extends 'rctool/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mt-2">
    <div class="tab-bar-container">
        <ul class="tab-bar-list">
            <li class="tab-bar-item-current"><a href="{% url 'rctool_import' 0 %}">import</a></li>
            <li class="tab-bar-item" style="pointer-events: none;"><a href="#">develop</a></li>
            <li class="tab-bar-item" style="pointer-events: none;"><a href="#">export</a></li>
        </ul>
    </div>

    <div style="background-color: #FFFFFF; padding-left:10px; padding-right:10px;">
        <div class="row justify-content-md-center" style="padding: 20px;">
            <div class="card">
                <h6 class="card-header text-center" style="background-color: #758fa8; color: #FFFFFF; height:30px; font-size:12.5px; padding-top:7px;">Import Data</h6>
                <div class="card-body pt-3" style="display: flex;">
                    <div class="row">
                        <div class="card-body-left col-lg-5 col-md-12">
                            <form method="POST" id="import-data-form" enctype="multipart/form-data">
                                <div class="form-group" style="margin-bottom:25px;">
                                    {% csrf_token %}
                                    <label class="form-label" style="font-size:11.5px;">import</label><br>
                                    <select class="form-control form-control-sm" id="input-session-type" name="input-session-type" onChange="toggleInputForm(this.value)">
                                        <option value="new-session" selected><small>new data</small></option>
                                        <option value="previous-session"><small>previous session</small></option>
                                    </select>
                                    <div id="toggle-div">
                                        <label for="header row" class="form-label" style="margin-top:15px; font-size:11.5px;">header row number</label>
                                        {{form.header_row}}
                                    </div>
                                    <label class="form-label" style="margin-top:15px; font-size:11.5px">load data</label>
                                    {{form.csv_upload}}
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" style="background-color: #6c747e !important; border-color: #FFFFFF;" type="submit" id="enter-data-button" value="submit"><small>load</small></button>
                                </div>
                            </form>
                        </div>

                        <div class="card-body-right col-lg-7 col-md-12">
                            {% if not table_data %}
                                <p id="input-instructions" style="font-size:11.5px;">
                                    Please upload in csv format with the specific column names and format specified below.
                                </p>
                                <div id="example-data">
                                    <table class="table">
                                        <tr class="table-header">
                                            <th class="table-cell">datetime</th>
                                            <th class="table-cell">discharge</th>
                                            <th class="table-cell">stage</th>
                                            <th class="table-cell">uncertainty</th>
                                            <th class="table-cell">comments</th>
                                        </tr>
                                        <tr class="table-row">
                                            <td class="table-cell">YYYY-MM-DD HH:MM</td>
                                            <td class="table-cell">number</td>
                                            <td class="table-cell">number</td>
                                            <td class="table-cell">decimal fraction (optional)</td>
                                            <td class="table-cell">text (optional)</td>
                                        </tr>
                                        <tr class="table-row">
                                            <td class="table-cell">YYYY-MM-DD HH:MM</td>
                                            <td class="table-cell">number</td>
                                            <td class="table-cell">number</td>
                                            <td class="table-cell">decimal fraction (optional)</td>
                                            <td class="table-cell">text (optional)</td>
                                        </tr>
                                    </table>
                                </div>
                            {% endif %}
                            {% if messages %}
                            {% for message in messages %}
                            <div>
                                <strong class="error-text">{{message|safe}}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% if table_data %}
                            {% include 'rctool/components/table.html' %}
                            <div class='import-button-container' style="display: flex; margin-top:15px;">
                                <div style="flex:1; margin-right:10px;">
                                    <form method="POST" action="../../develop/initialize" id="import-form">
                                        {% csrf_token %}
                                        <input type="hidden" id="pass-filename-to-develop" name="pass-filename-to-develop" value="{{ filename }}">
                                        <input type="hidden" id="pass-field-to-develop" name="pass-field-to-develop" value="{{ raw_field_data }}">
                                        <button class='btn btn-success btn-block' id="submit-import" type="submit" onclick="location.href='{% url 'rctool_develop_initialize' %}'" name='savebtn' style="background-color: #8FBC8F !important; border-color: #FFFFFF;"><small>next</small></button>
                                    </form>
                                </div>
                                <div style='flex:1; margin-left:10px;'>
                                    <a class="btn btn-danger btn-block" href="{% url 'rctool_import' 0 %}" style="background-color: #cc3333 !important; border-color: #cc3333;"><small>cancel</small></a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>

// IMPORT FUNCTIONS
function toggleInputForm(toggleFormVal) {
    var toggleDiv = document.getElementById("toggle-div");
        if (toggleFormVal === "new-session") {
            document.getElementById('example-data').style.display = "block";
            toggleDiv.style.display = "block";
            document.getElementById("input-instructions").innerHTML = "Please upload in csv format with column names; 'datetime', 'discharge', 'stage', 'uncertainty', and 'comments'"
        } else {
            toggleDiv.style.display = "none";
            document.getElementById('example-data').style.display = "none";
            document.getElementById("input-instructions").innerHTML = "Please upload .dat file from previous session."
            document.getElementById("import-data-form").action = '../../develop/initialize'
    };
};

// INITIALIZATION MESSAGE
// Initialize display message recommending to set offset before autofitting upon initialization of develop page
if (sessionStorage.getItem("developStartupMessage") == null) {
        sessionStorage.setItem("developStartupMessage", true);
};


// APP WALKTHROUGH
// Check if tour status has been previously set
if (sessionStorage.getItem("tourStatus") == null) {
    // Check if user selected tour
    var tourStatusID = {{ tour_request_status_id|safe }};
    if (tourStatusID == 1) {
        sessionStorage.setItem("tourStatus", true);
    } else {
            sessionStorage.setItem("tourStatus", false);
            }
    };
        
// configure tour steps
var importTour = new Tour({
    onEnd: function (tour) {
        sessionStorage.setItem("tourStatus", false);
        },
    steps: [
            {
            element: "#input-session-type",
            title: "Import Walkthrough",
            content: "To begin, a previous session or data for a new session can be uploaded. This step can be skipped for this tour since a sample dataset has already been uploaded."
            },
            {
            element: "#form-header-row",
            title: "Import Walkthrough",
            content: "Field data can be uploaded using a csv file with example column names specified on the right. When importing data, select which row has these column headings by adjusting the header.  If uncertainty data is uploaded, missing values will be filled in as 0.05 (5%)."
            },
            {
            element: "#enter-data-button",
            title: "Import Walkthrough",
            content: "To continue this tour with the sample data, please select load, then next"
            }
        ]
});
        
if (sessionStorage.getItem("tourStatus") == 'true') {
    importTour.init();
    importTour.start(sessionStorage.getItem("tourStatus"));
    importTour.restart();
};

</script>
{% endblock %}