
@media only screen and (min-width: 768px) {

    .card-body-left {
        flex: 1;
        padding: 20px;
    }


    .card-body-right {
        flex: 2;
        padding: 20px;
        border-left: 1.5px solid #F0F0F0;
    }
}

.table {
    border-spacing: 0;
    font-style: sans-serif;
    line-height: 8px;
}

tr:nth-child(even) {
    background-color: #F8F8F8;
}

.table-header {
    text-align: left;
    font-size: 13px;
}

.table-cell {
    padding: 0px;
    font-size: 12px;
}

.error-text {
    color: #8b0000;
}

.import-button-container {
    display: flex;
    padding: 0px;
    margin: 0px;
}