{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #003466">
    <div class="header-title-div justify-items-start"></div>
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/gov_logo.JPG' %}" class="logo-gov"></a>
      <div class="header-title-div">
        <p class="header-title" 
          style="color: white; font-size: 1.5em; font-weight: bold; font-family:sans-serif; margin-top: 0em; margin-bottom: 0em; margin-left: 1em; margin-right: 1em; text-align: center; text-shadow:1px 1px 10px #000, 1px 1px 10px #000;
          ">
            HydRA
        </p>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto w-100 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}"><small>Home</small></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'rctool_import' 0 %}"><small>Develop</small></a>
        </li>
        {% comment %} <li class="nav-item">
            <a class="nav-link" href="https://submit.digital.gov.bc.ca/app/form/submit?f=b12ba0e1-8e03-40f5-84be-1b705c001efc" target="_blank"><small>Feedback</small></a>
        </li> {% endcomment %}
      </ul>
    </div>
</nav>
<div class='nav-bottom'></div>