{% extends 'rctool/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mt-2">
    <div class="tab-bar-container" style="display:flex;">
        <ul class="tab-bar-list">
            <li class="tab-bar-item-current"><a href="{% url 'rctool_import' 0 %}">import</a></li>
            <li class="tab-bar-item" style="pointer-events: none;"><a href="#">develop</a></li>
            <li class="tab-bar-item" style="pointer-events: none;"><a href="#">export</a></li>
        </ul>
    </div>

    <div style="background-color: #FFFFFF; padding-left:10px; padding-right:10px;">
        <div class="row justify-content-md-center" style="padding: 20px;">
            <div class="col-lg-10 col-sm-12">
                <div class="card">
                    <h6 class="card-header text-center" style="background-color: #758fa8; color: #FFFFFF; height:30px; font-size:12.5px; padding-top:7px;">Rating Curve Development Overview</h6>
                    <div class="card-body pt-3" style="display: flex;">
                        <div class="row">
                            <div class="col-md-11 mx-auto">
                                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-interval="false">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                    </ol>
                                    <div class="carousel-inner py-1 px-5">
                                        {% include 'rctool/rctool/tour/slide1.html' %}
                                        {% include 'rctool/rctool/tour/slide2.html' %}
                                        {% include 'rctool/rctool/tour/slide3.html' %}
                                        {% include 'rctool/rctool/tour/slide4.html' %}
                                        {% include 'rctool/rctool/tour/slide5.html' %}
                                        {% include 'rctool/rctool/tour/slide6.html' %}
                                        {% include 'rctool/rctool/tour/slide7.html' %}
                                        {% include 'rctool/rctool/tour/slide8.html' %}
                                        {% include 'rctool/rctool/tour/slide9.html' %}
                                        
                                    </div>
                                    </div><!-- Close carousel-inner here -->
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
// Store tour status in session storage
sessionStorage.setItem("tourStatus", true);
</script>
{% endblock %}