{% load static %}


<div class="carousel-item" style="margin-bottom:25px;">
    <div class="col-md-8 mx-auto">
        <div class="text-box" style="margin-bottom: 20px;">
            <h6 style="color: #003466; margin-bottom: 10px; font-weight:bold;">Overview Complete</h6>
            <small class='text-description'>All done! Proceed to a walkthrough of the HydRA platform from importing stage-discharge data to development, optimization, saving and exporting a session. Navigate with the arrows to revisit any topics previously covered.</small>
        </div>
        <div class="text-box" style="margin-bottom: 20px;">
            <small class='text-description'>
                Please provide any feedback about the use of the tool <a class="text-danger" href="https://submit.digital.gov.bc.ca/app/form/submit?f=b12ba0e1-8e03-40f5-84be-1b705c001efc" target="_blank">here!</a>
                The link is also displayed in the footer of all pages.
            </small>
        </div>
        <div>
            <a class="btn btn-secondary btn-block custom-button" style="background-color: #6c747e !important; border-color: #FFFFFF;" href="{% url 'rctool_import' 1 %}"><small>Get Started</small></a>
        </div>
    </div>
</div>