{% load static %}
{% load custom_tags %}


<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/rctool_intro.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/rctool_tour.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/rctool_develop.css' %}">

        <!-- Bootstrap Tour -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-tour-standalone.min.css' %}">

        <!-- Jquery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}" ></script>
        <script src="{% static 'js/bootstrap.min.js' %}" ></script>
        <script src="{% static 'js/bootstrap-tour-standalone.min.js' %}"></script>

        {% block head %}
        {% endblock %}
        
        <title>RC Tool</title>
    </head>

    <body>
      {% include 'rctool/components/navbar.html' %}

      {% block content %}
      {% endblock %}

      {% block footer %}
      <footer> 
        <div class="footer fixed-bottom text-center h-3" style="background-color: #003466">
          <ul class="navbar-nav ms-auto w-100 justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="https://submit.digital.gov.bc.ca/app/form/submit?f=b12ba0e1-8e03-40f5-84be-1b705c001efc" target="_blank"><small>Please submit any feedback here!</small></a>
          </li>
        </ul>
      </div>
      </footer> 
      {% endblock %}

    </body>
</html>


{% block scripts %}
{% endblock %}