{% load static %}
{% load custom_tags %}


<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/rctool_intro.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/rctool_tour.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/rctool_develop.css' %}">

        <!-- Bootstrap Tour -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-tour-standalone.min.css' %}">

        <!-- Jquery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}" ></script>
        <script src="{% static 'js/bootstrap.min.js' %}" ></script>
        <script src="{% static 'js/bootstrap-tour-standalone.min.js' %}"></script>

        {% block head %}
        {% endblock %}
        
        <title>RC Tool</title>
    </head>

    <body>
      {% include 'rctool/components/navbar.html' %}

      {% block content %}
      {% endblock %}

      {% block footer %}
      {% endblock %}

    </body>
</html>


{% block scripts %}
{% endblock %}