{% extends 'rctool/base.html' %}
{% load static %}

 
{% block content %}
    <div class="container">
        <div class="row justify-content-md-center" style="padding: 40px;">
            <div class="col-12 col-sm-12 col-md-11 col-lg-8 col-xl-8">
                <div class="card">

                    <div class="card-body py-4" style="width: 80%; margin: auto;">
                        <h3 style="color:#003466; font-family:sans-serif; font-weight:bold; margin: 5px 0px 10px 0px; text-align: center;">Welcome</h3>
                        <!-- <div style="text-align: center;">
                            <img src="{% static 'images/HydRALogo_transparent.png' %}" class="logo-hydra-main" style="display: inline-block;">
                        </div> -->
                        <div style="margin-bottom: 20px;">
                            <p class="text-description-intro">
                                A hydrometric rating curve describes the mathematical relationship between stage and discharge. <b>HydRA</b> is a platform that
                                allows users to upload any stage and discharge datasets, then develop and optimize rating models. Hop into a guided tour below for an overview of rating curve development
                                and HydRA features, or jump straight into a session.
                            </p>
                        </div>
                        <div class='import-button-container' style="display: flex; margin-bottom:15px;">
                            <div style="flex:1; margin-right:10px;">
                                <a class='btn btn-secondary btn-block custom-button' style="background-color: #758fa8 !important; border-color: #FFFFFF;" href="{% url 'rctool_tour_intro' 1 %}"><small>Guided Tour</small></a>
                            </div>
                            <div style='flex:1; margin-left:10px;'>
                                <a class="btn btn-secondary btn-block custom-button" style="background-color: #6c747e !important; border-color: #FFFFFF;" href="{% url 'rctool_import' 0 %}"><small>Start Session</small></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
// Store tour status in session storage
sessionStorage.setItem("tourStatus", false);
// Initialize display message recommending to set offset before autofitting upon initialization of develop page
sessionStorage.setItem("developStartupMessage", true);
</script>
{% endblock %}